<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goertek.hapticble"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application android:allowBackup="true" android:label="@string/app_name">
        <service android:name="com.goertek.hapticble.GtkBLE" />

    </application>

</manifest>
